<div class="main-form--center">
  <div class="main-form__header">
    <h1><%= yield :form_header_content %></h1>
  </div>
  <div class="main-form__content">
    <%= yield :form_content %>
  </div>
</div>