<div class="home-page__hero">
	<div class="home-page__shopper-overlay"></div>
	<div class="home-page__shopper">
		<div class="home-page__content-container">
			<div class="home-page__content">
        		<img src="<%= image_path("instacart_logo.png") %>">
      		</div>
      		<div class="home-page__content text">
      			Become an Instacart Shopper and get paid to shop!
      		</div>

      		<div class="home-page__content">
      			<button type="button" class="btn btn-primary btn-large">
      				Apply Now
      			</button>
      		</div>
		</div>
	</div>
</div>